<div style="display: grid;">
<div style="background-color: #f5f5f5; float: left; width: 300px; margin-top: -64px; height: 100%; position: fixed;">

<nav>
    <ul>
        <li><a href="#"><span class="material-icons">calendar_today</span>Agenda</a></li>
        <mat-divider></mat-divider>
        <li><a href="#"><span class="material-icons">account_circle</span> Dados cadastrais</a></li>
        <mat-divider></mat-divider>
        <li><a href="#"><span class="material-icons">request_quote</span>Contratos Abertos</a></li>
        <mat-divider></mat-divider>
        <li><a href="#"><span class="material-icons">snippet_folder</span>Histórico</a></li>
        <mat-divider></mat-divider>
        <li><a href="#contato"><span class="material-icons">warning</span>Notificações</a></li>
        <mat-divider></mat-divider>
    </ul>
</nav>



</div>

<div style="width: auto; z-index: auto; margin-left: 302px; padding: 12px;">



    
    <h1>Dados Cadastrais</h1>
    <mat-card style="position: relative;">
        <form class="example-form">

            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Nome</mat-label>
                <input matInput>
              </mat-form-field>&nbsp;&nbsp;
    
              <mat-form-field appearance="outline">
                <mat-label>Sobrenome</mat-label>
                <input matInput>
              </mat-form-field><br>
    
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Email</mat-label>
                <input name="email" matInput>
              </mat-form-field>&nbsp;&nbsp;
    
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Celular</mat-label>
                <input name="email" matInput>
              </mat-form-field>&nbsp;&nbsp;
              
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>CNPJ</mat-label>
                <input matInput ngModel name="startDate">
              </mat-form-field><br><br>
    
    
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Endereço</mat-label>
                <input name="email" matInput>
              </mat-form-field>&nbsp;&nbsp;

              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Bairro</mat-label>
                <input name="email" matInput>
              </mat-form-field>&nbsp;&nbsp;

              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Cidade</mat-label>
                <input name="email" matInput>
              </mat-form-field>&nbsp;&nbsp;

              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>UF</mat-label>
                <input name="email" matInput>
              </mat-form-field>&nbsp;&nbsp;
              
              

              <table>
                <tbody>
                <tr>
                <td>Área de Serviços</td>
                <td>&nbsp;</td>
                </tr>
                <tr>
                <td><mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>UF</mat-label>
                    <input name="email" matInput>
                  </mat-form-field>&nbsp;&nbsp;</td>
                <td><mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>UF</mat-label>
                    <input name="email" matInput>
                  </mat-form-field>&nbsp;&nbsp;</td>
                </tr>
                </tbody>
                </table>

              
              <br><br>
              <button mat-flat-button color="primary" style="padding-top: 8px;"><span class="material-icons" style="position: relative; top: -2px;">
                save
                </span> Salvar </button>
        </form>

        
    </mat-card>
    </div>


</div>